*{	
	/*Sets page font via google fonts */
	font-family: 'Lato', sans-serif;
}

.navbarBrand
{	
	/* sets proportions of page logo */
    position: relative;
    width: 170px;
    left: 15px;
    bottom: 10px;
    max-height: 70px; /* height of the navbar */
}

. {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ea4141+31,dd4b4b+55,c0392b+82,c0392b+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ea4141 31%, #dd4b4b 55%, #c0392b 82%, #c0392b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#ea4141 31%,#dd4b4b 55%,#c0392b 82%,#c0392b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#ea4141 31%,#dd4b4b 55%,#c0392b 82%,#c0392b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c0392b',GradientType=0 ); /* IE6-9 */
}